<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="balance_keywords" value="ada:controlled_amount,xch:mojo" />
		<add key="balance_multiplier" value="xch:1000000000000,ada:1000000" />
		<add key="balanceuri" value="xch|https://xchscan.com/api/account/balance?address=xch1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,ada|https://cardano-mainnet.blockfrost.io/api/v0/accounts/stake1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
		<add key="cmcapikey" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
		<add key="cmcids" value="xch:9258,ada:2010" />
		<add key="coins" value="xch,ada" />
		<add key="headers" value="ada:project_id|mainnetxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
		<add key="historyfile" value="D:\Chia_App\history.txt" />
		<add key="lastamountfile" value="D:\Chia_App\lastamount.txt" />
		<add key="logfile" value="D:\Chia_App\log.txt" />
		<add key="priceuri" value="https://pro-api.coinmarketcap.com/v2/cryptocurrency/quotes/latest" />
	</appSettings>
</configuration>